extends layout

block content
    #sidebar
        #navigation_container
            #navigation
                a.previous Previous
                a.next Next

        #list_container


     #mapid



